.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vh;
    padding-right: 2vh;
    margin-top: -7vh;
    margin-bottom: -3vh;
}

.logo2 {
    object-fit: contain;
    height: 28vh;
}