/* CSS Custom Properties */
@tailwind base;
@tailwind components;
@tailwind utilities;

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--tan-4);
  padding: 2vmin;
  height: 100vh; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--text-dark);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

@media screen and (max-width: 2560px){
  .form-container {
    position: fixed;
    top: 50;
    left: 50;
    width: 18vw;
    height: 45vh;
    padding: 3vmin;
    background-color: white;
    border-radius: 1vmin;
  }
}

@media screen and (max-width: 1390px) {
  .form-container {
    position: fixed;
    top: 50;
    left: 50;
    width: 37vw;
    height: 45vh;
    padding: 3vmin;
    background-color: white;
    border-radius: 1vmin;
  }
}

.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container {
  max-width: 50vw;
  max-height: 30vh;
}

p.error-message {
  color: red;
  text-align: center;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
}

.close-btn {
  margin-bottom: 1.5vh;
  margin-top: -2vh;
}

.pfp-container {
  /* position: fixed;
  top: 50;
  left: 50; */
  width: 55vh;
  margin: auto;
}